[submodule "js"]
	path = js
	url = https://github.com/creatachain/ledger-creatachain-js.git
	branch = development
[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/creatachain/ledger-zxlib.git
	branch = development
[submodule "deps/ledger-secure-sdk"]
	path = deps/ledger-secure-sdk
	url = https://github.com/creatachain/ledger-secure-sdk.git
	branch = development
